body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 140%;
  background-image: url('assets/Dash-logo.svg');
  background-size: 50vmin auto, cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #bbb;
  color: black;
  height: 100vh;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
#connectionStatus.is-connected ~ #transactionList:empty:before {
  content: 'Waiting for first transaction...';
  display: block;
  text-align: center;
  font-size: 2em;
  opacity: 0.5;
}
#blockList {
  margin-left: 80vw;
  padding-top: 2.5vw;
}
#hero, .block {
  width: 15vw;
  height: 15vw;
  -webkit-box-shadow: 0.1em 0.1em 1em hsla(0, 0%, 0%, 0.5);
          box-shadow: 0.1em 0.1em 1em hsla(0, 0%, 0%, 0.5);
  background-color: #dad7b7;
  margin: 0 auto 1em;
  position: relative;
  overflow: hidden;
}
#hero {
  position: fixed;
  left: 41.125%;
  top: 50%;
  width: 77.5vw;
  height: 77.5vw;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
@media (max-height: 82.5vw) {
  #hero {
    width: calc(100vh - 5vw);
    height: calc(100vh - 5vw);
  }
}
#hero.solo {
  left: 50%;
  width: 95vmin;
  height: 95vmin;
}
.explorer-link {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  font-size: 1.9vmin;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  opacity: 0.5;
  font-size: 6vw;
  line-height: 0;
}
.block:hover .explorer-link {
  display: flex;
}
.paint {
  position: absolute;
  left: calc(var(--x) * 90% + 5%);
  top: calc(var(--y) * 90% + 5%);
  background-color: var(--color);
  -webkit-transform: translate(-50%, -50%) rotate(var(--rotation));
      -ms-transform: translate(-50%, -50%) rotate(var(--rotation));
          transform: translate(-50%, -50%) rotate(var(--rotation));
  height: calc(var(--size) * 20% + 20%);
  width: calc(var(--size) * 20% + 20%);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}
#hero .paint.stale {
  background-color: gray;
  opacity: calc(1.1 - var(--age) / 10);
}

#muteToggle, #connectionStatus {
  position: fixed;
  top: 0;
  width: 8em;
  background: white;
  border: solid black;
  padding: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: black;
}

#connectionStatus {
  z-index: 1;
  right: 0;
  border-radius: 0 0 0 0.5em;
  border-width: 0 0 0.1em 0.1em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
#connectionStatus.is-disconnected:before {
  content: 'Disconnected';
  color: red;
}
#connectionStatus.is-connecting:before {
  content: 'Connecting...';
  color: black;
}
#connectionStatus.is-loading:before {
  content: 'Loading...';
  color: black;
}
#connectionStatus.is-connected:before {
  content: 'Connected';
  color: green;
}
#connectionStatus.is-loaded:before {
  content: 'Loaded';
  color: green;
}
#connectionStatus.is-connected, #connectionStatus.is-loaded {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}


/*# sourceMappingURL=bundle.css.map*/